<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < negara.length; i++){ %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= negara[i].nama %></td>
          <td>
            <form action="/negara/delete/<%= negara[i].id %>?_method=DELETE" method="POST">
              <a href="/negara/edit/<%= negara[i].id %>" class="btn btn-info btn-sm">
                <i class="fas fa-pencil-alt"></i>
                Edit
              </a>
              <button class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
                Delete
              </button>
            </form>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>